@model RPGManagerSystem.Models.SheetClass
@{
    ViewBag.Title = "Jogo - Detalhes";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>@ViewBag.Title</h2>

<h3>Nome: @Model.Nome</h3>
<h3>Habilidade: @Model.Habilidades</h3>

